.AvatarAndName{
    text-align:center;
    padding-top:1rem;
}
.logo{
    
    width:15rem;
    height:15rem;
    border-radius:50%;
    border:5px solid #5974BD;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.textname{
    font-size:3rem;
}